body {
    text-align: left;
    background-color: #111111;
    margin: 0 auto;
    overflow-x:hidden;
}

p {
    color: #00ff00;
    font-size: 24pt;
    font-family: 'VT323', monospace;
}

canvas {
    display: block;
    margin: 0 auto;
}

video {
    background-color: rgba(255, 255, 255, 0);
}

#bg {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto; height: auto; z-index: -100;
    /*background: url(polina.jpg) no-repeat;*/
    background-size: cover;
}

#container {
    position: relative;
    top: 200px;
    left: 200px;
}

#totems {
    display: flex;
    justify-content: center;
}

.totem {
    height: 600px;
}