{% block head %}
    <script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/style.css') }}">
{% endblock %}


{% block body %}
    <p id="user_uid">No UID</p>
    <p id="user_name">No User</p>
	<p id="user_result">No Result</p>
	<p id="user_resources">None</p>
	<video autoplay='autoplay'>
			<source src="./media/movie.mp4" type="video/mp4">
	</video>
    <script type="text/javascript">
        $(document).ready(function () {
            namespace = '/conn';
            var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);
            socket.on('server_response', function (res) {
                console.log(res.data);
                $('#user_uid').html(res.data.user_uid);
                $('#user_name').html(res.data.user_name);
				$('#user_result').html(res.data.user_result);
				$('#user_resources').html(res.data.user_resources);
            })
        })
    </script>
{% endblock %}
